#main {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('concert.jpg');

background-size: cover;
overflow-x:hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body, html {
height: 100%;
}
.bg {
/* background-image: url("../src/concert.jpg");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover; */
}

.row {
  margin-top: 30px;
  margin-bottom: 30px;
}

body, html {
    height: 100%;
    margin: 0;
}
